#.gitignore

CMakeLists.txt.user
CMakeLists.txt
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.log
input*.txt

*.cmd
*.md

debug

[Bb][Uu][Ii][Ll][Dd]/